@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
header .nav-bar {
  height: 87px;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  background-color: #f8fdf7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-bar .logo {
  width: 100px;
  height: 47px;
  object-fit: contain;
  margin-left: 1.875rem;
}
header .nav-bar .nav-btns {
  display: flex;
}
header .nav-bar .nav-btns .btn-light {
  width: 120px;
  height: 40px;
  background-color: #c9ffbf;
  color: #26621b;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-family: Roboto;
  text-decoration: none;
}
@media (max-width: 500px) {
}
header .nav-bar .nav-btns .btn-light .btn-text {
  color: #26621b;
}
header .nav-bar .nav-btns .btn-dark {
  width: 120px;
  height: 40px;
  background-color: #26621b;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-family: Roboto;
  text-decoration: none;
}
@media (max-width: 500px) {
}
header .nav-bar .nav-btns .btn-dark .btn-text {
  color: #ffffff;
}
.footer .Footer-Background {
  height: 70px;
  background-color: #26621b;
  display: flex;
  align-items: center;
}
.footer .Footer-Content {
  width: 73px;
  height: 14px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-left: 1.875rem;
}
@tablet (max-width: 800px);
.content {
  background: url('../assets/background-image-mountain-toomas-tartes-1409263-un.png');
  height: 48rem;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 80rem;
  display: flex;
  align-items: center;
}
.content .content-container {
  z-index: 4;
  width: 100%;
  height: 100%;
}
.content .content-container.landing {
  width: auto;
  height: auto;
}
.content .content-box.about {
  margin-left: 0px;
  margin-top: 0px;
}
.content .content-box {
  margin-top: 10rem;
  margin-left: 40px;
  color: white;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.content .content-box-2 {
  top: 15rem;
  left: 10rem;
  position: absolute;
}
.content .landing-animation-1 {
  visibility: hidden;
  color: white;
  font-size: 26px;
  position: absolute;
  top: 300px;
  right: 125px;
  font-size: 46px;
  width: 350px;
  height: 500px;
  border: solid 18px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(transparent 58%, #c9ffbf 52%, #c9ffbf 73%, white 70%) no-repeat;
}
.content .landing-animation-1-inner {
  height: 2rem;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  background-color: #f8fdf7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .landing-animation-1-inner .logo {
  height: 85%;
  margin-left: 5px;
  object-fit: contain;
}
.content .landing-animation-1-inner .nav-btns {
  display: flex;
}
.content .landing-animation-1-inner .nav-btns .btn-light {
  width: 30px;
  height: 10px;
  background-color: #c9ffbf;
  color: #26621b;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-family: Roboto;
  text-decoration: none;
}
@media (max-width: 500px) {
}
.content .landing-animation-1-inner .nav-btns .btn-light .btn-text {
  color: #26621b;
  font-size: 5px;
}
.content .landing-animation-1-inner .nav-btns .btn-dark {
  width: 30px;
  height: 10px;
  background-color: #26621b;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-family: Roboto;
  text-decoration: none;
}
@media (max-width: 500px) {
}
.content .landing-animation-1-inner .nav-btns .btn-dark .btn-text {
  color: #ffffff;
  font-size: 5px;
}
.content #tst-h1 {
  font-size: 15px;
  color: black;
  top: 18rem;
  left: 7rem;
  position: absolute;
  font-weight: bold;
}
.content #tst-h2 {
  font-size: 13px;
  color: black;
  width: 22.5rem;
  top: 20rem;
  position: absolute;
  text-align: center;
}
.content #tst-text {
  color: black;
  font-size: 10px;
  position: absolute;
  top: 23rem;
  text-align: justify;
  width: 21.5rem;
}
.content h1 {
  font-family: Roboto;
  font-size: 46px;
  font-weight: bolder;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  margin: 15px;
  opacity: 1;
  text-align: center;
  color: #ffffff;
}
.content .about-header {
  color: white;
  background-color: #26621b;
  width: 100%;
}
.content .UVP {
  width: 350px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  margin: 15px;
  opacity: 1;
  text-align: center;
  color: #ffffff;
}
.content .btn {
  width: 160px;
  height: 40px;
  background-color: #0d1eb4;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-family: Roboto;
  text-decoration: none;
}
@media (max-width: 500px) {
}
.content .btn .btn-text {
  color: #ffffff;
}
.content .content-text {
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
  margin: 15px;
  opacity: 1;
  text-align: center;
}
.content-features.about {
  flex-wrap: wrap;
  padding-top: 0px;
  max-width: 70rem;
}
.content-features.about .feature-node.about {
  width: 175px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  flex: 0 1 18%;
}
.content-features.about .feature-node.about img {
  width: 100%;
  height: auto;
}
.content-features.about .feature-header.img-container {
  text-align: center;
  padding: 10px 20px;
  background-color: #26621b;
  color: white;
  height: '';
  font-size: '';
  padding: 0px 0px;
}
.content-features {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .content-features {
    flex-flow: column;
    align-items: center;
    width: 97%;
    padding: 0px 0px;
    height: 100%;
    margin-bottom: 10px;
  }
}
.content-features .feature-node {
  margin: 20px;
}
.content-features .feature-node svg {
  height: 200px;
  width: 200px;
}
.content-features .feature-node .feature-header {
  height: 38px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #26621b;
  text-align: center;
}
#overlay-box {
  background: #c9ffbf;
  height: 48.8rem;
  width: 100%;
  position: absolute;
  top: 5.4rem;
  padding: 0;
  opacity: 0.6;
  z-index: 1;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #fffef7;
}
.bg-divider {
  height: 32px;
  background-color: rgba(201, 255, 191, 0.5);
}
nav,
.content {
  width: 100%;
  margin: 0 auto;
}
