@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
header .nav-bar {
  height: 87px;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  background-color: #f8fdf7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-bar .logo {
  width: 100px;
  height: 47px;
  object-fit: contain;
  margin-left: 1.875rem;
  z-index: 1;
}
header .nav-bar .logo.active {
  display: none;
}
header .nav-bar .nav-btns {
  display: flex;
}
@media (max-width: 800px) {
  header .nav-bar .nav-btns {
    display: none;
  }
}
@media (max-width: 500px) {
  header .nav-bar .nav-btns {
    display: none;
  }
}
header .nav-bar .nav-btns .btn-light {
  width: 120px;
  height: 40px;
  background-color: #c9ffbf;
  color: #26621b;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-family: Roboto;
  text-decoration: none;
}
@media (max-width: 500px) {
}
header .nav-bar .nav-btns .btn-light .btn-text {
  color: #26621b;
}
header .nav-bar .nav-btns .btn-dark {
  width: 120px;
  height: 40px;
  background-color: #26621b;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-family: Roboto;
  text-decoration: none;
}
@media (max-width: 500px) {
}
header .nav-bar .nav-btns .btn-dark .btn-text {
  color: #ffffff;
}
header #mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #f8fdf7;
  transition: all 0.5s ease;
  visibility: hidden;
}
@media (max-width: 800px) {
  header #mobile-nav {
    visibility: visible;
  }
}
@media (max-width: 500px) {
  header #mobile-nav {
    visibility: visible;
  }
}
header #mobile-nav #close {
  position: absolute;
  top: 40px;
  right: 0;
  transform: translateY(-25px);
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
header #mobile-nav #close .bar {
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #26621b;
  transition: all 0.5s ease;
}
header #mobile-nav #close .bar:first-of-type {
  top: 42%;
}
header #mobile-nav #close .bar:last-of-type {
  top: 58%;
}
header #mobile-nav #mobile-nav-items {
  visibility: hidden;
  padding-top: 50px;
  transition: all 0.5s ease;
}
header #mobile-nav #mobile-nav-items ul {
  list-style: none;
  margin: 0 2rem;
}
header #mobile-nav #mobile-nav-items ul li {
  opacity: 0;
  font-size: 1.2rem;
  padding: 0.75rem 0;
  color: white;
}
header #mobile-nav #mobile-nav-items ul li:not(:last-of-type) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
header #mobile-nav #mobile-nav-items ul li a {
  color: white;
  text-decoration: none;
}
header #mobile-nav.active {
  background-color: #26621b;
  height: 800px;
  position: absolute;
  color: white;
}
header #mobile-nav.active #close .bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header #mobile-nav.active #close .bar:first-of-type {
  transform: rotate(225deg);
  background-color: white;
}
header #mobile-nav.active #close .bar:last-of-type {
  transform: rotate(-225deg);
  background-color: white;
}
header #mobile-nav.active #mobile-nav-items {
  visibility: visible;
}
header #mobile-nav.active #mobile-nav-items ul li {
  opacity: 1;
}
.footer .Footer-Background {
  height: 70px;
  background-color: #26621b;
  display: flex;
  align-items: center;
}
.footer .Footer-Content {
  width: 73px;
  height: 14px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-left: 1.875rem;
}
.content {
  display: flex;
  align-items: center;
}
.content .content-bg-img {
  width: 100%;
  display: none;
}
.content .content-container {
  z-index: 4;
  width: 100%;
  height: 100%;
}
.content .content-container.landing {
  height: auto;
  background: url("../assets/background-image-mountain-toomas-tartes-1409263-un@3x.png");
  background-size: cover;
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .content .content-container.landing {
    background: url("../assets/background-image-mountain-toomas-tartes-1409263-un.png");
    background-size: cover;
    height: 60vh;
  }
}
@media (max-width: 500px) {
  .content .content-container.landing {
    background: url("../assets/background-image-kayak-gigi-1519461-unsplash.png");
    height: 111vh;
  }
}
.content .content-container.landing.dark {
  height: auto;
  background: url("../assets/milky-way.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}
.content .content-box.about {
  margin-left: 0px;
  margin-top: 0px;
}
.content .content-box {
  margin-top: 10rem;
  color: white;
  display: flex;
  align-items: center;
  flex-flow: column;
}
@media (max-width: 800px) {
  .content .content-box {
    width: auto;
  }
}
@media (max-width: 500px) {
  .content .content-box {
    width: auto;
    position: absolute;
    top: 9rem;
    left: 1rem;
    right: 1rem;
  }
}
@media (max-width: 800px) {
  .content .content-box #content-box-header {
    font-size: 3.5rem;
  }
}
@media (max-width: 500px) {
  .content .content-box #content-box-header {
    font-size: 3.5rem;
    margin: 0 auto;
    margin-top: 20vh;
  }
}
.content .content-box.landing {
  margin-top: 0rem;
  margin-left: 0rem;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 800px) {
  .content .content-box.landing {
    visibility: visible;
  }
}
.content .content-box.landing #content-box-header {
  text-shadow: 2px 2px 2px #12350b;
  -webkit-text-stroke: 2px #12350b;
  font-size: 5rem;
}
@media (max-width: 800px) {
  .content .content-box.landing #content-box-header {
    font-size: 3.5rem;
  }
}
@media (max-width: 500px) {
  .content .content-box.landing #content-box-header {
    font-size: 3.5rem;
    margin: 0 auto;
    margin-top: 20vh;
  }
}
.content .content-box-2 {
  width: 49%;
  top: 15rem;
  left: 10rem;
}
@media (max-width: 800px) {
  .content .content-box-2 {
    width: auto;
  }
}
@media (max-width: 500px) {
  .content .content-box-2 {
    width: auto;
    position: absolute;
    top: 9rem;
    left: 1rem;
    right: 1rem;
  }
}
.content .landing-animation-1 {
  visibility: hidden;
  color: white;
  margin-top: 9rem;
  width: 350px;
  height: 500px;
  border: solid 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(transparent 58%, #c9ffbf 52%, #c9ffbf 73%, white 70%) no-repeat;
}
@media (max-width: 800px) {
  .content .landing-animation-1 {
    display: none;
  }
}
.content .landing-animation-1-inner {
  height: 2rem;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  background-color: #f8fdf7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .landing-animation-1-inner .logo {
  height: 85%;
  margin-left: 5px;
  object-fit: contain;
}
.content .landing-animation-1-inner .nav-btns {
  display: flex;
}
.content .landing-animation-1-inner .nav-btns .btn-light {
  width: 30px;
  height: 10px;
  background-color: #c9ffbf;
  color: #26621b;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-family: Roboto;
  text-decoration: none;
}
@media (max-width: 500px) {
}
.content .landing-animation-1-inner .nav-btns .btn-light .btn-text {
  color: #26621b;
  font-size: 5px;
}
.content .landing-animation-1-inner .nav-btns .btn-dark {
  width: 30px;
  height: 10px;
  background-color: #26621b;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-family: Roboto;
  text-decoration: none;
}
@media (max-width: 500px) {
}
.content .landing-animation-1-inner .nav-btns .btn-dark .btn-text {
  color: #ffffff;
  font-size: 5px;
}
.content .landing-animation-1-inner.text-box {
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.content .landing-animation-1-inner.text-box #tst-h1 {
  font-size: 15px;
  color: black;
  background-color: #c9ffbf;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
  height: 12%;
  margin: 0px;
}
.content .landing-animation-1-inner.text-box #tst-h2 {
  font-size: 13px;
  color: black;
  background-color: #c9ffbf;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.content .landing-animation-1-inner.text-box #tst-text {
  color: black;
  font-size: 10px;
  text-align: justify;
  background-color: #f8fdf7;
  width: 88%;
  padding: 15px;
}
.content h1 {
  font-family: Roboto;
  font-size: 46px;
  font-weight: bolder;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  margin: 15px;
  text-align: center;
  color: #ffffff;
}
.content .UVP {
  width: 350px;
  font-family: Roboto;
  font-size: 2.25rem;
  font-weight: bold;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  margin: 15px;
  opacity: 1;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 2px #12350b;
}
@media (max-width: 500px) {
  .content .UVP {
    width: auto;
  }
}
.content .btn {
  width: 160px;
  height: 40px;
  background-color: #0d1eb4;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-family: Roboto;
  text-decoration: none;
}
@media (max-width: 500px) {
}
.content .btn .btn-text {
  color: #ffffff;
}
.content .content-text {
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
  margin: 15px;
  opacity: 1;
  text-align: center;
}
.phone-card-bg {
  width: 344px;
  height: 277px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(8, 35, 48, 0.24);
  background-color: #26621b;
  display: none;
}
@media (max-width: 500px) {
}
.phone-bg-img {
  width: 375px;
  height: 750px;
  object-fit: contain;
}
.about-header {
  color: white;
  background-color: #26621b;
  width: 100%;
}
.content-container.about {
  background-color: #c9ffbf;
}
.content-features.about {
  flex-wrap: wrap;
  padding-top: 0px;
  max-width: 70rem;
}
@media (max-width: 500px) {
  .content-features.about {
    flex-direction: column;
  }
}
.content-features.about .feature-node.about {
  width: 175px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  flex: 0 1 18%;
}
.content-features.about .feature-node.about .git-logo {
  width: 1.8rem;
  height: 2.2rem;
  flex: -1 1 32%;
  margin-left: 2px;
}
.content-features.about .feature-node.about img {
  width: 100%;
  height: auto;
}
.content-features.about .feature-header.img-container {
  text-align: center;
  padding: 10px 20px;
  background-color: #26621b;
  color: white;
  padding: 0px 0px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
}
.content-features {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .content-features {
    flex-flow: column;
    align-items: center;
    width: 97%;
    padding: 0px 0px;
    height: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .content-features {
    flex-flow: column;
    align-items: center;
    width: 97%;
    padding: 0px 0px;
    height: 100%;
    margin-bottom: 10px;
  }
}
.content-features .feature-node {
  margin: 20px;
}
.content-features .feature-node svg {
  height: 200px;
  width: 200px;
}
.content-features .feature-node .feature-header {
  height: 38px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #26621b;
  text-align: center;
}
.content-features .feature-node.landing {
  display: flex;
  flex-direction: column;
  width: 16%;
}
@media (max-width: 800px) {
  .content-features .feature-node.landing {
    width: auto;
    align-items: center;
  }
}
.content-features .feature-node.landing .feature-copy {
  text-align: center;
  color: #26621b;
}
#overlay-box {
  background: #c9ffbf;
  height: 48.8rem;
  width: 100%;
  position: absolute;
  top: 5.4rem;
  padding: 0;
  opacity: 0.6;
  z-index: 1;
}
html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto';
  max-width: 1600px;
  background-color: #fbfefb;
}
.bg-divider {
  height: 32px;
  background-color: rgba(201, 255, 191, 0.5);
}
nav,
.content {
  width: 100%;
  margin: 0 auto;
}
.content.active,
.bg-divider.active,
.content-features.active,
footer.active {
  display: none;
}
.spotlight {
  display: none;
}
.spotlight.dark {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  background-image: radial-gradient(circle, transparent 160px, rgba(0, 0, 0, 0.85) 200px);
}
/* -------------------------------- 
Title: Switch
Descr: Custom ON/OFF checkbox toggle
-------------------------------- */
/* style */
/* animation */
.switch {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}
.switch__input,
.switch__label {
  position: absolute;
  left: 0;
  top: 0;
}
.switch__input {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}
.switch__input:checked + .switch__label {
  background-color: var(--color-primary);
}
.switch__input:checked + .switch__label + .switch__marker {
  left: calc(100% - 32px + 3px);
}
.switch__input:focus + .switch__label,
.switch__input:active + .switch__label {
  --color-shadow: hsla(228, 74%, 61%, 0.2);
  box-shadow: 0 0 0 3px hsla(228, 74%, 61%, 0.2);
}
.switch__label {
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: hsl(252, 4%, 25%);
  border-radius: inherit;
  z-index: 1;
  transition: background 0.2s;
}
.switch__marker {
  position: relative;
  background-color: var(--color-white);
  width: calc(32px - 3px * 2);
  height: calc(32px - 3px * 2);
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.25);
  left: 3px;
  transition: left 0.2s;
  will-change: left;
}
