
html, body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto';
    max-width: 1600px;
    // height: 1808px;
    background-color: #fbfefb;
  }
  
  .bg-divider {
    // width: 1024px;
    height: 32px;
    background-color: rgba(201, 255, 191, 0.5);
  }
  
  nav, .content{
    width: 100%;
    margin: 0 auto;
  }

  .content.active, .bg-divider.active, .content-features.active, footer.active{
    display: none;
  }
