header {
  .nav-bar {
    // width: 1024px;
    height: 87px;
    box-shadow: 0 4px 8px 0 rgba(38, 98, 27, 0.24);
    background-color: #f8fdf7;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 100px;
      height: 47px;
      object-fit: contain;
      margin-left: 1.875rem;
    }

    .nav-btns{
      display: flex;

      .btn-light{
        .custom-btn(@very-light-green, @tree-green, 120px, 40px);
        .btn-text {
          color:  @tree-green;
          }
        }

        .btn-dark{
          .custom-btn(@tree-green, #ffffff, 120px, 40px);
          .btn-text {
            color:  #ffffff;
            }
        }
      }
    }
  }