footer {
    height: 7rem;
    width: auto;
    background-color: @tree-green;

    @media @mobile {
       height: 3rem;
        
    }

    p {
        width: 150px;
        height: 20px;
        font-family: Roboto;
        font-size: 2rem;
        margin: 10px 0 0 10px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.1px;
        color: #ffffff;
    }
}